[submodule ".libs/sourcemod"]
	path = .libs/sourcemod
	url = https://github.com/alliedmodders/sourcemod.git
[submodule ".libs/mmsource"]
	path = .libs/mmsource
	url = https://github.com/alliedmodders/metamod-source.git
[submodule ".libs/libffcall/repo"]
	path = .libs/libffcall/repo
	url = https://git.savannah.gnu.org/git/libffcall.git
